<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScrapeTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScrapeTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <ScrapeTool.Properties.Settings>
            <setting name="HOSTS_TRIP" serializeAs="String">
                <value>www.tripadvisor.jp</value>
            </setting>
            <setting name="HOSTS_YELP" serializeAs="String">
                <value>www.yelp</value>
            </setting>
            <setting name="HOSTS_JALAN" serializeAs="String">
                <value>www.jalan.net</value>
            </setting>
        </ScrapeTool.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ScrapeTool.Properties.Settings>
            <setting name="trip_limit" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="yelp_selector_title" serializeAs="String">
                <value>div.businessName__373c0__1fTgn a</value>
            </setting>
            <setting name="yelp_selector_url" serializeAs="String">
                <value>div.businessName__373c0__1fTgn a</value>
            </setting>
            <setting name="yelp_selector_rank" serializeAs="String">
                <value>div.businessName__373c0__1fTgn h3</value>
            </setting>
            <setting name="yelp_limit" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="trip_restaurant_selector_title" serializeAs="String">
                <value>div.title a</value>
            </setting>
            <setting name="trip_restaurant_selector_url" serializeAs="String">
                <value>div.title a</value>
            </setting>
            <setting name="trip_restaurant_selector_rank" serializeAs="String">
                <value>.popIndexBlock .popIndexDefault</value>
            </setting>
            <setting name="trip_activities_selector_title" serializeAs="String">
                <value>div.listing_title a</value>
            </setting>
            <setting name="trip_activities_selector_url" serializeAs="String">
                <value>div.listing_title a</value>
            </setting>
            <setting name="trip_activities_selector_rank" serializeAs="String">
                <value>.popRanking</value>
            </setting>
            <setting name="trip_next_element" serializeAs="String">
                <value>.pagination span.next.disabled</value>
            </setting>
            <setting name="yelp_selector_item" serializeAs="String">
                <value>div.mainAttributes__373c0__1r0QA</value>
            </setting>
            <setting name="trip_selector_item" serializeAs="String">
                <value>div.listing:not(.listingIndex-n)</value>
            </setting>
            <setting name="jalan_limit" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="jalan_selector_title" serializeAs="String">
                <value>p.item-name a</value>
            </setting>
            <setting name="jalan_selector_url" serializeAs="String">
                <value>p.item-name a</value>
            </setting>
            <setting name="jalan_selector_rank" serializeAs="String">
                <value>p.item-name span</value>
            </setting>
            <setting name="jalan_selector_item" serializeAs="String">
                <value>div.item-listContents</value>
            </setting>
            <setting name="HOSTS_4TRA" serializeAs="String">
                <value>4travel.jp</value>
            </setting>
            <setting name="fortra_selector_item" serializeAs="String">
                <value>div.u_areaListRankingBox</value>
            </setting>
            <setting name="fortra_selector_title" serializeAs="String">
                <value>.u_title h2</value>
            </setting>
            <setting name="fortra_selector_url" serializeAs="String">
                <value>.u_title h2 a</value>
            </setting>
            <setting name="fortra_selector_rank" serializeAs="String">
                <value>.u_title .u_iconRanking</value>
            </setting>
            <setting name="fortra_selector_review" serializeAs="String">
                <value>.u_rankBox .evaluateNumber</value>
            </setting>
            <setting name="fortra_limit" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="trip_rating" serializeAs="String">
                <value>div.rating .ui_bubble_rating</value>
            </setting>
            <setting name="trip_review_count" serializeAs="String">
                <value>div.rating span.more a,div.rating span.reviewCount a</value>
            </setting>
            <setting name="yelp_rating" serializeAs="String">
                <value>div.i-stars__373c0__Y2F3O</value>
            </setting>
            <setting name="forsq_selector_item" serializeAs="String">
                <value>div.venueDetails</value>
            </setting>
            <setting name="forsq_selector_title" serializeAs="String">
                <value>.venueName h2 a</value>
            </setting>
            <setting name="forsq_selector_url" serializeAs="String">
                <value>.venueName h2 a</value>
            </setting>
            <setting name="forsq_selector_rank" serializeAs="String">
                <value>.u_title .u_iconRanking</value>
            </setting>
            <setting name="forsq_selector_rating" serializeAs="String">
                <value>.venueScore</value>
            </setting>
            <setting name="base_limit" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="HOSTS_4SQ" serializeAs="String">
                <value>ja.foursquare.com</value>
            </setting>
        </ScrapeTool.Properties.Settings>
    </userSettings>
</configuration>